
/*Pure CSS*/

.pure-img-responsive {
max-width: 100%;
height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
position: relative;
padding-left: 0;
}
#layout.active #menu {
left: 200px;
width: 200px;
}

#layout.active .menu-link {
left: 200px;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
margin-left: -200px; /* "#menu" width */
width: 200px;
position: fixed;
top: 0;
left: 0;
bottom: 0;
z-index: 1000; /* so the menu or its navicon stays above all content */
background: #000000;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}
/*
All anchors inside the menu should be styled like this.
*/
/*#menu a {
	
}*/

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
	border: none;
	/*background: transparent;*/
}

.pure-menu-item {
	color: #000000;
	border: none;
	padding: 0.3em 0.3em 0.3em 0.3em;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
	border-top: 1px solid #d69d36;
}
    /*
    Change color of the anchor links on hover/focus.
    */
    .pure-menu-item:hover,
    .pure-menu-item:focus {
    	background: #111111;
    	cursor: default;
    }
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
        background: transparent;
     }
    #menu .pure-menu-item a,
    #menu .pure-menu-item a {
    	color: #aaaaaa;
     }

    #menu .other-nav-items a {
     	color: #0078D7;
     }

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
  	color: #d69d36;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
	cursor: default;
	color: rgba(14,113,195,1);
	margin: 0;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	text-transform: capitalize;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
position: fixed;
display: block; /* show this only on small screens */
top: 0;
left: 0; /* "#menu width" */
background: #000000;
/*background: rgba(0,0,0,0.05);*/
font-size: 11.3px; /* change this value to increase/decrease button size */
z-index: 10;
width: 2em;
height: auto;
padding: 2.1em 1.6em;
}

.menu-link span {
position: relative;
display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
background-color: #0078D7;
width: 100%;
height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
position: absolute;
margin-top: -0.6em;
content: " ";
}

.menu-link span:after {
margin-top: 0.6em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 60em) {

.header,
.content {
	padding-left: 2em;
	padding-right: 2em;
}

#layout {
	padding-left: 200px; /* left col width "#menu" */
	left: 0;
}
#menu {
	left: 200px;
}

.menu-link {
	position: fixed;
	left: 200px;
	display: none;
}

#layout.active .menu-link {
	left: 200px;
}
}

@media (max-width: 60em) {
/* Only apply this when the window is small. Otherwise, the following
case results in extra padding on the left:
    * Make the window small.
    * Tap the menu to trigger the active state.
    * Make the window large again.
    
    #layout.active {
    	position: relative;
    	left: 200px;
    }
}